.has-text-right {
    @include setup("mobile", "max") {
        text-align: left !important;
    }
}

.select select {
    background-color: transparent !important;
    border-color: $light !important;
    color: $light !important;
}
.select select option {
    color: $dark !important;
    background-color: transparent !important;
    // background: rgba(0,0,0,0) !important;
}
.select select option::selection {
    color: $dark !important;
    background-color: transparent !important;
}
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: $light !important;
}
.tile.is-vertical .tile.is-child:not(:last-child) {
    margin-bottom: 0.2rem !important;
}
.is-size-7 {
    font-size: 0.9rem !important;
}