html {
    background-color: $dark !important;
    background-image: url("./../assets/img/texture.png");
    z-index: 1;
}
#app {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: $size-normal;
    color: $light !important;
}
.button {
    border-width: 1px !important;
    border-color: white !important;
    background-color: transparent !important;
}
.is-b-rounded {
    border-radius: 50%;
    border: 2px solid white;
    height: 25px;
    width: 25px;
    object-fit: none;
    object-position: 50% 50%;
}
.is-b-rounded-home {
    border: 2px solid #e9486c;
    height: 200px;
    width: auto;
    // object-fit: none;
    object-position: 50% 50%;
}
.has-background-gradient-1 {
    // background: linear-gradient(to right, $secondary 0%, $primary 100%);
    background: linear-gradient(
        to right,
        rgba(230, 125, 0, 0.8),
        rgba(233, 72, 108, 0.8)
    );
}
.has-text-gradient-1 {
    background: linear-gradient(to right, $secondary 0%, $primary 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 4.1rem) !important;
}
.border-card {
    border: 2px solid #e9486c !important;
}
.title-margin {
    margin-bottom: 5px !important;
}
.home-card {
    min-height: 220px;
    display: flex !important;
    align-items: center;
    background-color: #0e1121;
}
